* {
    font-family: Calibri, New Romance, serif;
    line-height: 15px;
}

h1 {
    font-size: 60px;
    font-variant: small-caps;
    font-weight: 800;
    margin-right: 60px;
    line-height: normal;
}

footer {
    font-weight: 800;
}

.intro-img {
    float: left;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.left-block {
    float: left;
}

.right.block {
    float: right;
}