* {
    font-family: Calibri, New Romance, serif;
}

h1 {
    font-size: 20px;
    font-variant: small-caps;
    font-weight: 800;
}

footer {
    font-weight: 800;
}

.intro-img {
    float: left;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.left-block {
    float: left;
}

.right.block {
    float: right;
}